/*************\
~~~~~~~~~~~~~~~
Hello world! :D
~~~~~~~~~~~~~~~
CSS designed by
Andrew Yaros :)
~~~~~~~~~~~~~~~
\*************/


/*************************************************/
/* Fonts */
@font-face{
	font-family: "tachyonthin";
	src: url("media/Tachyon_Thin.otf")
}
@font-face {
	font-family: "cmu";
	src: url("media/cmunrm.otf");
}
@font-face {
	font-family: "721";
	src: url("media/Swiss721BT-Roman.otf");
}


/*************************************************/
/* Overall page format */
html,body { height: 100%; }
html, body {
	margin: 0;
	overflow: auto;
} body {
	background-image: linear-gradient(to bottom, #eeeeee, white);
	font-family: "721","Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	color: #000000;
} #bodyDiv{
	height: 99%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	flex-wrap: nowrap;
	align-items: stretch;
	min-width: 170px;
	min-height: 160px;
} a, a:visited { text-decoration: none; } 
a:hover { 
	color: rgba(100,100,100,.6);
	text-decoration: overline;
	text-shadow: 0px 0px 7px #aaaaaa, 0px 0px 20px #bfbfbf;
} div { border: none!important; }


/*************************************************/
/* Header */
#header, .footer { vertical-align: center; }
#header{
	padding: 2.5%; /* padding */
	display: flex;
	justify-content: space-between; /* horizontal align */
	align-items: center; /* vertical align */
	flex-wrap: nowrap;
} #headerR { 
	text-align: right;
} #headerL { text-align: left; }
#title, #description, .footer, a, a:visited { color: #666666!important; } 
#title, #description, .footer { 
	text-shadow: 0px 3px 20px #ababab, 0px 2px 3px #8f8f8f;
} #title {
	background-position: center!important;
	font-family: "tachyonthin", "Helvetica Neue", "Arial", sans-serif!important;
	text-transform: uppercase!important;
	letter-spacing: .25em!important;
	font-size: 3.5vw;
	font-weight: normal;
} #lastname { letter-spacing: .75em!important; }
#description {
	letter-spacing: .07em;
	font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .07em;
	font-size: 2vw;
} 


/*************************************************/
/* Main page content */
#mainContent {
	margin: none;
	display: flex;
	border: none;
	flex: 1;
}


/*************************************************/
/* Footer */
#footer{
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}.footer {
	padding-top: 10px; /*  padding */
	padding-bottom: 2px; /* padding */
	max-width: 33%; 
	margin: auto;
	text-align: center;
	font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-size: 2vw;
	letter-spacing: .1em;
	line-height: 2em;
	text-transform: uppercase;
} #copyright {
	font-family: "721", "Helvetica Neue", "Helvetica", "Arial Condensed", sans-serif!important;
	font-weight: 200!important;
	letter-spacing: .06em!important;
	font-size: 6pt!important;
	color:#afafaf!important;
	text-shadow: none!important;
	text-transform: none!important;
	text-align: center!important;
	padding: 4px;
	text-align: center;
	margin: auto;
} .footerlink {	letter-spacing: .2em; } 


/*************************************************/
/* Responsive design rules */


/*************************************************/
/* for larger/desktop devices */
@media only screen and (min-width: 850px) {
	#title { font-size: 20pt; }
	#description { font-size: 14pt; } 
	#header { padding: 16px; }
	.header {
		padding: 8px; /* padding */
		margin: auto;
	} .footer { font-size: 13.5pt; }
	#footer {
		padding-top:6px;
		padding-bottom: 1px;
	}
}


/*************************************************/
/* for smaller devices */	
@media only screen and (max-width: 550px) {
	#title { font-size: 4.75vw; } 
	#description { 
		font-size: 2.75vw;
	}
	.footer { font-size: 2.75vw; } 
	#header, #title, #description, .footer, .footerlink {
		text-shadow: 0px 3px 5px #888888; 
	}
}


/*************************************************/
/*very tiny screens; wrap title and description*/
@media only screen and (max-width: 260px) {
	#title { font-size: 8pt; }
	#description { 
		font-size: 6pt;
		letter-spacing: 0.1em;
		padding: none;
	} #header { 
		flex-wrap: wrap;
		padding: 1px; /* padding */
		margin: auto;
	} #headerL{
		text-align: center;
		width: 100%;
		margin: auto;
	} #headerR {
		text-align: center;
		margin: auto;
		width: 85%;
	}.footer { 
		font-size: 6pt;
		padding-bottom: 2px;
		padding-top: 4px;
		min-width: 45%;
		width: 45%;
	} .footerlink{ font-style: bold; }
}


/*************************************************/
/* if height is too small then hide the iframe */
@media only screen and (max-height: 260px) {
	#mainContent { display: none; }
	#footer { flex: 1; } 
	.footer {
		min-width: 47%;
		width: 47%;
	} .footerlink{ font-style: bold; }
}