/*************\
~~~~~~~~~~~~~~~
Hello world! :D
~~~~~~~~~~~~~~~
CSS designed by
Andrew Yaros :)
~~~~~~~~~~~~~~~
\*************/


/*************************************************/
/*                     Fonts                     */
/*************************************************/


/* Tachyon Thin */
@font-face {
	font-family: "tachyonthin";
	src: url("media/fonts/Tachyon_Thin.otf")
} /* Computer Modern serif */
@font-face {
	font-family: "cmu";
	src: url("media/fonts/cmunrm.otf");
	font-weight: normal;
} /* Computer Modern serif Bold */
@font-face {
	font-family: "cmu";
	src: url("media/fonts/cmunrb.otf");
	font-weight: bold;
} /* Computer Modern classical */
@font-face {
	font-family: "cmu";
	src: url("media/fonts/cmunci.otf");
	font-weight: normal;
	font-style: italic;
} /* Computer Modern sans serif*/
@font-face {
	font-family: "cmusans";
	src: url("media/fonts/cmunss.otf");
	font-weight: normal;
} /* Computer Modern sans serif Bold */
@font-face {
	font-family: "cmusans";
	src: url("media/fonts/cmunsx.otf");
	font-weight: bold;
}

/* by "important" I mean stuff that should not be
changed or it will screw up the responsiveness and 
the layout of the page */

/*************************************************/
/*                  Main styles                  */
/*************************************************/


/* Overall page format */
/*************************************************/
html, body {
	height: 100%;
	margin: 0;
	overflow: auto;
	background-color: #fafafa!important;
} body {
	font-family: "cmusans","Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	color: #000!important;
} #bodyDiv{
	margin: auto; /* important */
	height: 100%; /* important */
	min-width: 300px;		/* minimum width */
	min-height: 280px;		/* minimum height */
	display: flex; /* flex stuff is all important */
	flex-direction: column;
	justify-content: stretch;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: stretch;
} a, a:visited { text-decoration: none;
	-webkit-transition-duration: 1.125s;
	transition-duration: 1.125s;
} a:hover { 
	color: #000!important;
	text-decoration: overline;
	background: #ffff00;
	text-shadow: none;
} div { border: none!important; }
#title, #description, .footer, a, a:visited { 
	color: #555;
} ::selection { 
	background: #ffff00;
	color: #000;
	text-shadow: none;
} ::-moz-selection { 
	background: #ffff00;
	color: #000;
	text-shadow: none;
}


/* Header */
/*************************************************/
#header, .footer { vertical-align: center; }
#header {
	padding: 2%; /* padding */
	display: flex; /* flex stuff is all important */
	justify-content: space-between; /* horizontal align */
	align-items: center; /* vertical align */
	flex-wrap: nowrap;
} #headerR { text-align: right; }
#headerL { text-align: left; }
#title { text-shadow: 0px 3px 20px #ababab, 0px 2px 3px #999; }
#description, .footer { 
	text-shadow: 0px 2px 20px #cdcdcd, 0px 1px 3px #999;
} #title {
	font-family: "tachyonthin", "Helvetica Neue", "Arial", sans-serif;
	text-transform: uppercase;
	letter-spacing: .25em!important;
	font-size: 3.5vw;
	font-weight: normal;
} #lastname { letter-spacing: .765em!important; }
#description {
	letter-spacing: .07em;
	font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .07em;
	font-size: 2vw;
} 


/* Main page content */
/*************************************************/
#mainContent { /* all of this is important */
	width: 100%;
	margin: none;
	display: flex;
	border: none;
	flex: 1!important;
	background-color: #d1d1d1;
}


/* Footer */
/*************************************************/
#footer { /* all important */
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
}.footer {
	max-width: 19%; /* important */
	margin: auto; /* important */
	padding-top: 2.25%; /*  padding */
	padding-bottom: 2.25%; /* padding */
	text-align: center;
	font-family: "cmu", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-size: 2vw;
	letter-spacing: .1em;
	text-transform: uppercase;
} #copyright {
	font-family: "cmusans","Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	letter-spacing: .06em;
	font-size: 6pt;
	color:#afafaf;
	text-shadow: none;
	text-transform: none;
	text-align: center;
	padding: 4px;
	text-align: center;
	margin: auto;
} .footerlink {	
	letter-spacing: .2em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}


/*************************************************/
/*            Responsive design rules            */
/*************************************************/

/* most of this stuff is pretty important to the 
layout of the page; footer buttons act as the
primary content for the page when the google drive
div gets hidden (when the page gets too small) */

/* for larger/desktop devices */
/*************************************************/
@media only screen and (min-width: 850px) {
	#title { font-size: 20pt; }
	#description { font-size: 14pt; } 
	#header { padding: 30px; }
	.footer { font-size: 13.5pt;
		padding-top: 20px; /* padding */
		padding-bottom: 20px; /* padding */ 
	}
}


/* for smaller devices */
/*************************************************/
@media only screen and (max-width: 640px) {
	#title { font-size: 4.75vw; } 
	#description { font-size: 2.4vw; }
	#header { padding: 20px; }
	#title, #description, .footer, a, a:visited { color: #333; }
	#header, #title, #description, .footer, .footerlink { 
		text-shadow: 0px 3px 5px #888; }
}


/* if height is too small then hide the iframe
	and show buttons */
/*************************************************/
@media only screen and (max-height: 500px) {
	#bodyDiv { max-width: 1024px; }
	#mainContent { display: none; }
	#header { padding-bottom: 0px; }
	#footer { flex: 1;
		flex-wrap: wrap;
		padding-top: 0px;
		align-content: space-around;
		padding: none;
		margin: 20px;
	} .footer {
		padding: none;
		font-style: italic;
		min-width: 32%;
		width: 32%;
	} #copyright { font-weight: normal; 
		padding: none;
	} .footerlink { /* big buttons */
		border-radius: 25px;
		box-shadow: 0px 2px 20px #ddd;
		padding: 20px;
	} .footerlink:hover { box-shadow: 0px 2px 3px #000; }
	a.footerlink:hover { text-decoration: none; }
}


/* tiny width screens - also show buttons */
/*************************************************/
@media only screen and (max-width: 400px) {
	#title { font-size: 18pt;
		padding-left: 9pt; /* half of font size */
		padding-right: none;
		margin: auto;
	} #lastname { padding-left: 9pt; } /* half of font size */
	#description { font-size: .5em; }
	#header { padding: 7px;
		align-content: stretch;
		padding: 1px;
		margin: auto;
	} #headerL, #headerR { margin: auto; }
	#headerL { padding: 10px;}
	#headerR { display: none; /*text-align: center; width: 100%;*/ } 
	#mainContent { display: none; }
	#copyright { letter-spacing: 0px;
		padding-top: 12.5px;
	} .footerlink { /* medium buttons */
		border-radius: 20px;
		box-shadow: 0px 2px 15px #ddd;
		padding: 15px;
	} .footerlink:hover { box-shadow: 0px 2px 3px #000; }
	a.footerlink:hover { text-decoration: none!important; }
}
@media only screen and (max-height: 450px) and (max-width: 600px) {
	.footerlink { padding: 8px; } /* small buttons */
}

/* Sizing the footer */
/*************************************************/
@media only screen and (max-width: 799px) {
	.footer { font-size: 1em;
		padding: none;
		min-width: 32%;
		width: 32%;
	}
}
@media only screen and (max-width: 600px) {
	.footer {
		min-width: 48%;
		width: 48%;
	} 
}
@media only screen and (max-width: 400px) {
	#bodyDiv { min-height: 360px; }
	#footer { flex: 1;
		flex-wrap: wrap;
		align-content: space-between;
	} .footer {
		min-width: 98%;
		width: 98%;
		font-style: normal;
	} 
}

/* adjust header when tiny */
@media only screen and ((max-width: 400px) and (max-height: 400px)) {
	#title { font-size: 16pt;
		padding: none;
		padding-left: 12pt; /* half of font size */
		margin: auto;
	} #lastname { padding-left: 12pt; } /* half of font size */
}