/* * * * * * * * * * * * *
andrewyaros.com dark theme 
* * * * * * * * * * * * */
:root {
	--selectiontext: #000000;
	--selectioncolor: #dee9d0; /* glow in the dark color */
	--pagebg: #202020;
	--pagetext: #ffffff;
	--titletext: #dee9d0;
	--pagelightertext: #cccccc;
	
	--titleshadowone: #000000; /*343434*/
	--titleshadowtwo: #000000;
	--descriptionshadowone: #000000; /*222222*/
	--descriptionshadowtwo: #000000;
	
	--maincontentbg: #2e2e2e;
	--copyrighttext: #505050;
	
	--smallerscreentext: #cccccc;
	--smallerscreenshadow: #000000;
	
	--tinybuttonshadow: #141414;
	--mobilebuttonshadow: #000000;
	--mobilebuttonhovershadow: #000000;
}